body{
    margin-top: 25px;
    margin-left: 25px;
    font-family: Arial, sans-serif;
}

input,label {
    margin: 5px;
}


table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border: black;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit
}

table > tr {
    vertical-align: middle;
}

col {
    display: table-column
}

colgroup {
    display: table-column-group
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tr:nth-child(even){
    background-color: #d1e7ee;
}
tr:nth-child(odd){
    background-color: #d5f2d5;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
    padding: 5px 15px 5px 15px;
}

th {
    font-weight: bold;
}

caption {
    display: table-caption;
    text-align: -webkit-center
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.block {
    width: 100%;
}