<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assets and Liabilities</title>
    <link rel="stylesheet" href="/static/main.css">
    <script>
        saveRecord = () => {
            const type = document.getElementById("type").value.trim()
            const name = document.getElementById("name").value
            const balance = +document.getElementById("balance").value.trim()
            //console.log("saveRecord " + type + "  " + name + " " + balance)

            let isValid = typeof balance == 'number' && !isNaN(balance) && isFinite(balance);
            if (!isValid) {
                alert("Sorry, balance is not a real number")
                return
            }
            if (type !== "Asset" && type !== "Liability") {
                alert("Sorry, record type has to be Asset or Liability")
                return
            }
            const newRecord = {name, record_type: type, amount: balance}
            fetch("https://asset-liability-app.herokuapp.com/record", {
                method: "POST",
                body: JSON.stringify(newRecord)
            }).then(res => {
                if (res.ok) {
                    console.log("Request complete! response:", res)
                    location.reload()
                }
            }).catch((e) => {
                console.error(e)
            })
        }
    </script>

    <script>
        deleteRecord = (recordId) => {
            console.log("deleteRecord " + recordId)
            if (recordId === undefined || recordId === null) {
                alert("Missing record id")
                return
            }
            fetch("https://asset-liability-app.herokuapp.com/record/" + recordId, {
                method: "DELETE"
            }).then(res => {
                if (res.ok) {
                    console.log("Request complete! response:", res)
                    location.reload()
                }
            }).catch((e) => {
                console.error(e)
            });
        }
    </script>
    <script>
        getRecords = () => {
            fetch('https://asset-liability-app.herokuapp.com/records').then(function (response) {
                return response.json()
            }).then((data) => {
                //console.log(data)
                const indexToProp = new Map()
                indexToProp.set(0, "record_type")
                indexToProp.set(1, "name")
                indexToProp.set(2, "amount")
                indexToProp.set(3, "id")

                const records = data?.records,
                    _tr_ = document.createElement('tr'),
                    _td_ = document.createElement('td')
                let tableBody = document.getElementById("dataTableBody")
                for (let i = 0; i < records.length; ++i) {
                    let tr = _tr_.cloneNode(false)
                    for (let j = 0; j < 4; ++j) {
                        let td = _td_.cloneNode(false)
                        const propName = indexToProp.get(j)
                        const cellValue = records[i][propName]
                        //delete cell
                        if (j === 3) {
                            let btn = document.createElement("button")
                            btn.innerHTML = "Delete record"
                            btn.onclick = () => {
                                deleteRecord(cellValue)
                            }
                            td.appendChild(btn)
                            tr.appendChild(td)
                            continue
                        }
                        td.appendChild(document.createTextNode(cellValue || ''))
                        tr.appendChild(td)
                    }
                    tableBody.appendChild(tr)
                }

                document.getElementById("totals").appendChild(document.createTextNode('$' + data.totals || ''))
                document.getElementById("totalAssets").appendChild(document.createTextNode('$' + data.total_assets || ''))
                document.getElementById("totalLiabilities").appendChild(document.createTextNode('$' + data.total_liabilities || ''))
            }).catch((e) => {
                console.error("Error getting records" + e)
            })
        }
    </script>
</head>
<body onLoad=getRecords()>
<h2>Create a Record</h2>
<form class="input-form" action="" onsubmit="saveRecord(); return false;">
    <label for="type">Type:</label><br>
    <input type="text" id="type" name="type" size="40"><br>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" size="40"><br>
    <label for="balance">Balance ($):</label><br>
    <input type="text" id="balance" name="balance" size="40"><br>
    <input type="submit" value="Submit">
</form>
<br/>
<h2>Assets and Liabilities</h2>
<table class="tbl" id="dataTable">
    <thead>
    <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Balance ($)</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="dataTableBody">
    </tbody>
</table>

<br/>
<p>Net Worth: </p>
<p id="totals"></p>
<p>Assets Total: </p>
<p id="totalAssets"></p>
<p>Liabilities Total: </p>
<p id="totalLiabilities"></p>
</body>
</html>